body{
    scroll-behavior: smooth ;
    text-align: center;
    overflow-x: hidden;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

h1, h2{
    font-family: 'Old Standard TT', serif;
    text-align: center;
}

h1{
    font-size: 10rem;
}

h2{
    font-size: 3.5rem;
}

p, figcaption{
    font-size: 22px;
    line-height: 24px;
    font-family: 'Lora', serif;
    text-align: center;
}

/*Парралакс + LA*/

.wrapper__parallax{
    width:100%;
    min-height: 100%;
    overflow: hidden;
}

.page__holywood{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax{
    position: relative;
    height: 100%;
}

.parallax__hills{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.parallax__hills_1{
    background: url(../pictures/LA/LA_PARALLAX/upper_bg_var1.jpg) 0 0 / cover no-repeat;
    z-index: 0;
}

.parallax__hills_2{
    background: url(../pictures/LA/LA_PARALLAX/hollywood_hill2_cut_left.png) bottom left / 60% 50% no-repeat ;
    z-index: 1;
}

.parallax__hills_3{
    background: url(../pictures/LA/LA_PARALLAX/hollywood_hill2_cut_right.png) bottom right / 70% 60% no-repeat ;
    z-index: 1;
    filter: brightness(145%);
    -webkit-filter: brightness(145%);
}


.parallax__fog{
    background: url(../pictures/LA/LA_PARALLAX/fog_1.png) bottom / 100% repeat-x ;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}



.content__LA{
    position: relative;
}

.content__body__LA{
    width: 85%;
    margin: 0 auto;
}

.content__header__LA{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 20px;
    
}


.content__article__LA{
    background-color: rgba(255, 255, 255, 0.596);
    margin-bottom: 20px;
    padding: 1% 5%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.content__article__LA .LA_description p{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    max-width: 85%;
}

.content__article__LA .LA_description {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
}


.slider{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider h2{
    margin: 0; 
}

.figures{
    max-width: 100%;
    margin: 10px 0 0 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box_shadow{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    min-height: 70vh;
    max-height: 70vh;
}

.figures .box_shadow figcaption{
    background-color: rgba(255, 255, 255, 0.596);
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
}

.figures .box_shadow figcaption p{
    margin-top:0;
}

.fade{
    animation: fade .5s;
    -webkit-animation: fade .5s;
}

.hide{
    display: none !important;
}

.show{
    display: block;
}

@keyframes fade{
    0%{
        opacity: .1;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes fade{
    0%{
        opacity: .1;
    }
    100%{
        opacity: 1;
    }
}

figure .box_shadow img{
    max-width: 60%;
    min-width: 60%;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
}

.prev, .next{
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease ;
    -webkit-transition: 0.6s ease ;
    -moz-transition: 0.6s ease ;
    -ms-transition: 0.6s ease ;
    -o-transition: 0.6s ease ;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background-color: rgba(61, 61, 61, 0.438);
}


.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 0 30px wheat;
}

.button_box{
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
}

.dot_slider_box{
    width: 60%;
    left: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 30px 30px;
    -webkit-border-radius: 30px 30px;
    -moz-border-radius: 30px 30px;
    -ms-border-radius: 30px 30px;
    -o-border-radius: 30px 30px;
}

.dot{
    cursor: pointer;
    width: 20px;
    height: 20px;
    max-width: auto;
    background-color: transparent;
    border:4px solid whitesmoke;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.6 ease;
    -webkit-transition: 0.6 ease;
    -moz-transition: 0.6 ease;
    -ms-transition: 0.6 ease;
    -o-transition: 0.6 ease;
    box-shadow: 0 0 50px rgb(255, 255, 255);
}

 .active, .dot:hover{
    background-color: rgba(255, 255, 255, 0.815);
}
/***************************Отели***********************/


.hotels{
    width: 100%; 
    
    padding-bottom: 5%;
    margin: 15px auto;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    background: linear-gradient( to bottom, rgba(255,172,111, 0.5), rgba(223,125,136, 0.5),rgba(139,129,183, 0.5), rgba(79, 66, 117, 0.5));
}

.hotels_LA h2{
    color: rgb(46, 46, 46);
}


.grid_hotels{
    max-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    row-gap: 3%;

}

.hotel {
    position: relative;
    display: flex;
    align-items: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.hotel img{
    max-width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.hotel:hover .hotel__info{
    opacity: 1;
    top:0;
    bottom:0;
}

.hotel__info{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.425);
    position: absolute;
    bottom: -100%;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    text-align: center;
    color: whitesmoke;
    transition: ease .5s;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    opacity: 0;
}
