body {
    scroll-behavior: smooth;
    text-align: center;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.black_bg_nav {
    position: relative;
    z-index: 100;
    min-width: 100%;
    min-height: 30px;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.phone_logo_and_menu_wrap {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
}

.logo_wrap {
    display: block;
}

.logo, .logo_pc {
    height: 5vh;
    width: 5vh;
}

.phone_menu-btn {
    display: block;
    height: 5vh;
    width: 5vh;
    min-width: 30px;
    min-height: 30px;
    background-color: whitesmoke;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    z-index: 100;
}

.phone_menu-btn span, .phone_menu-btn span:before, .phone_menu-btn span:after {
    position: absolute;
    top: 50%;
    margin-top: -0.11rem;
    margin-left: -1.15rem;
    width: 2.3rem;
    height: 0.22rem;
    background-color: #222;
}

.phone_menu-btn span:before, .phone_menu-btn span:after {
    content: "";
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.phone_menu-btn span:before {
    transform: translateY(-.5rem);
    -webkit-transform: translateY(-.5rem);
    -moz-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    -o-transform: translateY(-.5rem);
}

.phone_menu-btn span:after {
    transform: translateY(.5rem);
    -webkit-transform: translateY(.5rem);
    -moz-transform: translateY(.5rem);
    -ms-transform: translateY(.5rem);
    -o-transform: translateY(.5rem);
}

.menu-btn_active span:before {
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
}

.menu-btn_active span:after {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
}

.menu-btn_active span {
    height: 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: fixed;
    min-width: 100%;
    height: 5vh;
    top: 0;
    color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
}

.nav_wrap {
    display: grid;
    grid-template-columns: 3% repeat(3, 32%);
    justify-content: flex-start;
    position: relative;
}

.nav_wrap div {
    transition: .5s;
    height: 5vh;
}

.nav_wrap * p {
    margin: 0;
    height: 4vh;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav_wrap p:hover, .city_wrap:hover>p {
    transition: .5s;
    font-size: 1.5vw;
    cursor: pointer;
}

.nav_citys_hover_block {
    position: absolute;
    width: 33%;
    bottom: -100%;
    display: none;
}

.city_wrap:hover>.nav_citys_hover_block {
    display: block;
}

.nav_citys_hover_block p {
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid whitesmoke;
    border-radius: 2vh;
    -webkit-border-radius: 2vh;
    -moz-border-radius: 2vh;
    -ms-border-radius: 2vh;
    -o-border-radius: 2vh;
}

h1, h2, h3 {
    font-family: 'Old Standard TT', serif;
    text-align: center;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 3.5vw;
}

p, figcaption, li, h3, span {
    font-size: 1.11vw;
    line-height: 1vw;
    font-family: 'Lora', serif;
    text-align: center;
}

figure:hover, .hotel {
    cursor: pointer !important;
}

.main_content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.597);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 30vh;
    backdrop-filter: blur(3px)
}

::selection {
    background: rgb(130, 199, 255);
    color: white;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.hidden {
    transition: 2s;
    opacity: 0;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

li {
    list-style-type: none;
}

/*Parallax + LA*/

.citys__USA {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax {
    position: relative;
    height: 100%;
}

.parallax__hills {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax__hills_1 {
    background: url(../pictures/LA/LA_PARALLAX/upper_bg_var1.jpg) 0 0 / cover no-repeat;
    z-index: 0;
}

.parallax__hills_2 {
    background: url(../pictures/LA/LA_PARALLAX/hollywood_hill2_cut_left.png) bottom left / 60% 50% no-repeat;
    z-index: 1;
}

.parallax__hills_3 {
    background: url(../pictures/LA/LA_PARALLAX/hollywood_hill2_cut_right.png) bottom right / 70% 60% no-repeat;
    z-index: 1;
    filter: brightness(145%);
    -webkit-filter: brightness(145%);
}

.parallax__fog {
    background: url(../pictures/LA/LA_PARALLAX/fog_1.png) bottom / 100% repeat-x;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(.5px);
}

.content__LA {
    position: relative;
    border-bottom: 20px solid rgba(255, 255, 255, 0.493);
}

.content__header__LA {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 20px;
}

.description p {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    max-width: 85%;
    line-height: 1.5;
}

.description {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.slider {
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider h2 {
    margin: 0;
}

.figures {
    max-width: 100%;
    margin: 10px 0 0 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_shadow {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    min-height: 70vh;
    max-height: 70vh;
}

.figures .box_shadow figcaption {
    background-color: rgba(255, 255, 255, 0.596);
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
    overflow: auto;
}

.figures .box_shadow figcaption p {
    margin-top: 0;
    width: auto;
    height: auto;
}

.fade {
    animation: fade .5s linear;
    -webkit-animation: fade .5s linear;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

@keyframes fade {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

figure .box_shadow img {
    max-width: 60%;
    min-width: 60%;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.prev, .next, .play__pause {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(61, 61, 61, 0.438);
}

.play__pause {
    opacity: 0;
    width: 70px;
    height: 70px;
    font-size: 30px;
    position: relative;
}

.play__pause::before {
    content: '▌▌';
    position: absolute;
    left: 27%;
}

.paused::before {
    content: '▶' !important;
    position: absolute;
    left: 25%;
    font-size: 45px;
}

.paused {
    opacity: 1;
}

.play__pause:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 30px wheat;
}

.button_box:hover .play__pause {
    opacity: 1;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 30px wheat;
}

.button_box {
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
}

.dot_slider_box {
    width: 60%;
    left: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 30px 30px;
    -webkit-border-radius: 30px 30px;
    -moz-border-radius: 30px 30px;
    -ms-border-radius: 30px 30px;
    -o-border-radius: 30px 30px;
}

.dot {
    cursor: pointer;
    width: 20px;
    height: 20px;
    max-width: auto;
    background-color: transparent;
    border: 4px solid whitesmoke;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.6 ease;
    -webkit-transition: 0.6 ease;
    -moz-transition: 0.6 ease;
    -ms-transition: 0.6 ease;
    -o-transition: 0.6 ease;
    box-shadow: 0 0 50px rgb(255, 255, 255);
}

.active, .dot:hover {
    background-color: rgba(255, 255, 255, 0.815);
}

/***************************Hotels LA***********************/

.hotels {
    width: 100%;
    padding-bottom: 5%;
    margin: 15px auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: linear-gradient( to bottom, rgba(255, 172, 111, 0.5), rgba(223, 125, 136, 0.5), rgba(139, 129, 183, 0.5), rgba(79, 66, 117, 0.5));
}

.hotels_LA h2 {
    color: rgb(46, 46, 46);
}

.grid_hotels {
    max-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    row-gap: 3%;
}

.hotel {
    position: relative;
    display: flex;
    align-items: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hotel img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hotel:hover .hotel__info {
    opacity: 1;
    top: 0;
    bottom: 0;
}

.hotel__info {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.425);
    position: absolute;
    bottom: -100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    color: whitesmoke;
    transition: ease .5s;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    opacity: 0;
}

.hotelLA .hotel__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hotel p {
    font-family: 'BadScript-Regular';
}

.LA_hotel_price {
    bottom: 0;
}

/*******Anchorage*********/

.content__Anchorage {
    position: relative;
    background: url(../pictures/ANCHORAGE/ANC_BG/ANC_MAIN_BG.jpg) center / cover no-repeat;
    background-attachment: fixed;
    border-top: 20px solid rgba(255, 255, 255, 0.493);
    border-bottom: 20px solid rgba(255, 255, 255, 0.493);
}

.cloud {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.main__content__Anchorage {
    position: relative;
    padding: 30px;
    color: #337AB7;
    font-size: 22px;
    font-weight: bold;
    top: 0;
    background-color: rgba(255, 255, 255, 0.597);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
    transform-style: flat;
}

.cloud img {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

@-webkit-keyframes animCloud {
    from {
        -webkit-transform: translateX(100%)
    }
    to {
        -webkit-transform: translateX(-100%)
    }
}

@-moz-keyframes animCloud {
    from {
        -moz-transform: translateX(100%)
    }
    to {
        -moz-transform: translateX(-100%)
    }
}

@keyframes animCloud {
    from {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }
    to {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

.cloud1 {
    -webkit-animation: animCloud 20s infinite linear;
    -moz-animation: animCloud 20s infinite linear;
    animation: animCloud 20s infinite linear
}

.cloud2 {
    -webkit-animation: animCloud 40s infinite linear;
    -moz-animation: animCloud 40s infinite linear;
    animation: animCloud 40s infinite linear
}

.cloud3 {
    -webkit-animation: animCloud 60s infinite linear;
    -moz-animation: animCloud 60s infinite linear;
    animation: animCloud 60s infinite linear
}

.cloud4 {
    -webkit-animation: animCloud 80s infinite linear;
    -moz-animation: animCloud 80s infinite linear;
    animation: animCloud 80s infinite linear
}

.hover_atraction_anc {
    color: rgba(51, 121, 183, 0.767);
}

.anc_int_places_wrap {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    min-width: 100%;
}

.anc_intersting_places {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    perspective: 10000px;
    padding-bottom: 30%;
    margin: 0 auto;
}

.anc_intersting_places img {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.377), 0 10px 10px rgba(0, 0, 0, 0.337);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.anc_intersting_places figure:hover img {
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.anc_intersting_places figure {
    margin: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transform: rotateX(30deg) rotateZ(-30deg) rotateY(15deg) translateX(-8%);
    -webkit-transform: rotateX(30deg) rotateZ(-30deg) rotateY(15deg) translateX(-8%);
    -moz-transform: rotateX(30deg) rotateZ(-30deg) rotateY(15deg) translateX(-8%);
    -ms-transform: rotateX(30deg) rotateZ(-30deg) rotateY(15deg) translateX(-8%);
    -o-transform: rotateX(30deg) rotateZ(-30deg) rotateY(15deg) translateX(-8%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.anc_intersting_places figure:hover {
    transform: rotate(0) translate(0) scale(1.3);
    -webkit-transform: rotate(0) translate(0) scale(1.3);
    -moz-transform: rotate(0) translate(0) scale(1.3);
    -ms-transform: rotate(0) translate(0) scale(1.3);
    -o-transform: rotate(0) translate(0) scale(1.3);
    background-color: rgba(255, 255, 255, 0.6);
}

.anc_intersting_places figure p {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    pointer-events: none;
}

.anc_intersting_places figure figcaption {
    position: absolute;
    opacity: 0;
    overflow-y: auto;
    max-height: 70%;
    max-width: 100%;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    margin: 0;
    pointer-events: none;
    font-weight: lighter;
}

.anc_intersting_places figure:hover figcaption {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    pointer-events: all;
    cursor: default;
}

.hotels_ANC {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(126, 159, 228, 0.5) 99%, rgba(125, 128, 255, 0.5) 100%);
}

.hotel_ANC img {
    transition: ease .5s;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
}

.anc_info {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 40%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #337AB7;
    z-index: 100;
}

.anc_info::before {
    content: "";
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: -10%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 100;
}

/***************************Hotels ANC***********************/

.hotel_ANC:hover .anc_info {
    opacity: 1;
    top: 60%;
}

.hotel_ANC:hover img {
    top: -60%;
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.hotel_ANC p {
    margin: 0 auto;
    z-index: 100;
}

/**********************  MIAMI  *************************/

.content__Miami {
    position: relative;
    background: url(../pictures/MIAMI/MIAMI_BG/1.jpg) center / cover no-repeat;
    background-attachment: fixed;
    border-top: 20px solid rgba(255, 255, 255, 0.493);
    border-bottom: 20px solid rgba(255, 255, 255, 0.493);
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    color: #ff00aa;
}

.miami_bg {
    position: fixed;
    z-index: 100;
}

.content__Miami .wrapper {
    margin-top: 30vh;
}

.content__Miami h1, .content__Miami h2 {
    color: #0b3960;
}

.content__Miami .neon_started_h1 {
    color: #fff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    animation: neon_h1 3s steps(1, start) reverse;
    -webkit-animation: neon_h1 3s steps(1, start) reverse;
}

.content__Miami .neon_started_h2 {
    color: #fff;
    text-shadow: 0 0 1px #ffffff, 0 0 3px #ffffff, 0 0 5px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    animation: neon_h2 3s steps(1, start) reverse;
    -webkit-animation: neon_h2 3s steps(1, start) reverse;
}

@keyframes neon_h1 {
    0% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    80% {
        color: #fff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    81% {
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
    }
    82% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83% {
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
    }
    84% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85% {
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
    }
    100% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
}

@keyframes neon_h2 {
    0% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    80% {
        color: #fff;
        text-shadow: 0 0 1px #ffffff, 0 0 3px #ffffff, 0 0 5px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    81% {
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
    }
    82% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    83% {
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
    }
    84% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    85% {
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 50px #79a7fc;
    }
    100% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
}

.content__Miami .description {
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.5);
}

.hover_atraction_miami {
    font-weight: 900;
}

.miami_attractions {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    margin-bottom: 5%;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.miami_attractions figure {
    overflow: hidden;
    margin: 0;
    min-width: 10%;
    min-height: 100%;
    z-index: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: .11vw solid white;
}

.miami_attractions figure:first-child {
    border-left: none;
}

.miami_attractions figure:last-child {
    border-right: none;
}

.miami_attractions figure figcaption {
    text-align: center;
    padding: 0 1%;
    text-align: center;
    margin: 0;
}

.miami_attractions .miami_selected {
    transition: .8s;
    z-index: 100;
    min-width: 100%;
    max-width: 100%;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
    border: none;
}

.miami_atrr_smth_selected>figure:not(.miami_selected) {
    border: none;
    min-width: 0;
    max-width: 0;
}

.miami_attractions figure:not(.miami_selected):hover {
    box-shadow: -1px -1px 30px 15px rgba(236, 234, 234, 0.8);
    z-index: 100;
}

.miami_attractions figure:not(.miami_selected):hover img {
    transition: .5s;
    transform: scale(1.2) translateX(-35%);
    -webkit-transform: scale(1.2) translateX(-35%);
    -moz-transform: scale(1.2) translateX(-35%);
    -ms-transform: scale(1.2) translateX(-35%);
    -o-transform: scale(1.2) translateX(-35%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.miami_attractions .miami_selected img {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.miami_attractions figure img {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    min-height: 70vh;
    max-height: 70vh;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

/***************************Hotels Miami***********************/

.hotels_maimi {
    background-image: linear-gradient(to bottom, #f8ffe8c5 44%, rgba(245, 245, 245, 0.76) 60%, rgba(122, 202, 255, 0.76) 100%);
}

.miami_info {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: circle(0.0% at 50% 50%);
    clip-path: circle(0.0% at 50% 50%);
    background-color: rgba(0, 0, 0, 0.719);
}

.hotel_miami:hover .miami_info {
    -webkit-clip-path: circle(100% at 50% 50%);
    clip-path: circle(100% at 50% 50%);
}

/***************************Calculator***********************/

.travel_calculator_wrapper {
    width: 100%;
}

.travel_calculator_wrapper h2 {
    text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de !important;
    animation: none !important;
    -webkit-animation: none !important;
}

.travel_calculator_wrapper h3 {
    font-size: 2.5vh;
}

.main_calculator {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: black;
    border: .5vh dashed grey;
}

.city_selector_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: .5vh dashed grey;
}

.city_selection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-block-end: 2vh;
}

.city_selection li {
    font-size: 2vw;
    border: 2px solid;
    padding: 12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    cursor: pointer;
    font-size: 2vh;
}

.li_la {
    color: black;
    border-color: black;
}

.li_anc {
    color: #337AB7;
    border-color: #337AB7;
}

.li_miami {
    color: #ff00aa;
    border-color: #ff00aa;
}

.city_selection li:hover, .selected_li {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    opacity: 1;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.unselected_li {
    opacity: 0.5;
    filter: grayscale(100);
    -webkit-filter: grayscale(100);
}

.selectors__input_wrapper {
    display: grid;
    min-height: 5vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.selectors__input_wrapper * {
    font-size: 2vh;
    text-align: center;
}

.selectors__input_wrapper:first-child {
    margin-top: 5%;
}

.selectors__input_wrapper div {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 8vh;
    border: 2px solid gray;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}

.selectors__input_wrapper input, .selectors__input_wrapper select {
    margin: 0;
}

.hotel_selector_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hotel_select {
    font-size: 2vh;
    cursor: pointer;
    max-width: 100%;
    min-width: 100%;
}

.hotel_days_selector__and_final_summ {
    display: grid;
    grid-template-columns: 50% 50%;
}

.hotel_days_selector__and_final_summ * {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hotel_days_selector__and_final_summ p {
    margin: 0;
    font-size: 2vh;
    line-height: 1.5vh;
}

.hotel_Hidden {
    display: none;
}

.hotel_filter__final_sum__send-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hotel_filter_wrap {
    max-width: 100%;
    min-width: 100%;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#hotel_filter {
    font-size: 2vh;
    cursor: pointer;
    max-width: 100%;
}

.final_summ {
    align-items: center;
    background-color: rgba(100, 148, 237, 0.5);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    width: 60%;
    height: 40%;
}

.currency_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 60%;
    width: 60%;
    border: 2px solid gray;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-left: 10px;
    font-size: 2vh;
}

.other_valutes_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 5vh;
    max-width: inherit;
}

.other_valutes {
    max-height: 20vh;
    font-size: 2vh;
    cursor: pointer;
    margin-top: 1%;
    max-width: inherit;
}

/*WAVE-BTN*/

.send_button_wrap {
    justify-self: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8 ease 0s;
    -webkit-transition: all 0.8 ease 0s;
    -moz-transition: all 0.8 ease 0s;
    -ms-transition: all 0.8 ease 0s;
    -o-transition: all 0.8 ease 0s;
}

.wave-btn {
    width: 14vw;
    height: 3vw;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: none;
    transition: all 0.8s ease 0.2s;
}

.wave-btn:hover .wave-btn__waves {
    top: -100%;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
}

.wave-btn:hover {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.8s ease 0.2s;
    -webkit-transition: all 0.8s ease 0.2s;
    -moz-transition: all 0.8s ease 0.2s;
    -ms-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    box-shadow: 0 0 60px rgba(73, 115, 255, 0.6);
}

.wave-btn__text {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.wave-btn__waves {
    position: absolute;
    width: 14vw;
    height: 14vw;
    ;
    background-color: rgb(0, 183, 255);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
}

.wave-btn__waves:after, .wave-btn__waves:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves::before {
    background-color: rgb(255, 255, 255);
    border-radius: 48%;
    -webkit-border-radius: 48%;
    -moz-border-radius: 48%;
    -ms-border-radius: 48%;
    -o-border-radius: 48%;
    animation: waves 5s infinite linear;
    -webkit-animation: waves 5s infinite linear;
}

.wave-btn__waves::after {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 44%;
    -webkit-border-radius: 44%;
    -moz-border-radius: 44%;
    -ms-border-radius: 44%;
    -o-border-radius: 44%;
    animation: waves 10s infinite linear;
    -webkit-animation: waves 10s infinite linear;
}

.thanks {
    font-weight: bold;
    display: none;
}

.show_thanks {
    display: block !important;
}

@keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }
    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    }
}

@-webkit-keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }
    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
        -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    }
}

/*************************FOOTER****************/

footer {
    position: relative;
    background-color: rgb(122, 122, 122);
    border-top: 20px solid rgba(255, 255, 255, 0.493);
    color: white;
    box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px, inset rgba(252, 255, 255, .7) 0 3px 8px, rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

footer .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

footer a img {
    height: 5vh;
    transition: all .5s;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

footer a:hover img {
    transition: all .5s;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.info_source {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.citys_attraction {
    display: flex;
    justify-content: space-around;
    border-bottom: .2vh solid rgba(255, 255, 255, 0.541);
}

#footer_year {
    width: 100%;
    padding-top: 1%;
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    border-top: .2vh solid rgba(255, 255, 255, 0.541);
}

@media (max-width:1919px) {
    p, figcaption, li, h3, span {
        line-height: 1.3vw;
    }
    .parallax__hills_2 {
        background: url(../pictures/LA/LA_PARALLAX/hollywood_hill2_cut_left.png) bottom left / 70% 60% no-repeat;
        z-index: 1;
    }
    .parallax__hills_3 {
        background: url(../pictures/LA/LA_PARALLAX/hollywood_hill2_cut_right.png) bottom right / 80% 70% no-repeat;
        z-index: 1;
        filter: brightness(145%);
        -webkit-filter: brightness(145%);
    }
    .parallax__fog {
        background: url(../pictures/LA/LA_PARALLAX/fog_1.png) center / 120% repeat-x;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        backdrop-filter: blur(.5px);
    }
    .miami_attractions .miami_selected img {
        max-width: 60%;
    }
}

@media (max-width:1300px) {
    html {
        font-size: 62.5%;
        padding: auto;
    }
    body {
        position: relative;
        margin: auto;
    }
    .nav_wrap p:hover {
        font-size: 2rem;
    }
    h1, h2, h3 {
        font-family: 'Old Standard TT', serif;
        text-align: center;
    }
    h1 {
        font-size: 9rem;
    }
    h2 {
        font-size: 5rem;
    }
    p, figcaption, li, h3, span {
        font-size: 2rem;
        line-height: 2rem;
        font-family: 'Lora', serif;
        text-align: center;
    }
    .parallax__hills_2 {
        display: none;
    }
    .parallax__hills_3 {
        display: none;
    }
    .parallax__fog {
        display: none;
    }
    .wrapper {
        width: 100%;
        min-height: fit-content;
    }
    .main_content {
        padding: 0;
    }
    .anc_intersting_places figure {
        transform: rotateX(0) rotateZ(0) rotateY(0) translateX(0);
        -webkit-transform: rotateX(0) rotateZ(0) rotateY(0) translateX(0);
        -moz-transform: rotateX(0) rotateZ(0) rotateY(0) translateX(0);
        -ms-transform: rotateX(0) rotateZ(0) rotateY(0) translateX(0);
        -o-transform: rotateX(0) rotateZ(0) rotateY(0) translateX(0);
    }
    .anc_intersting_places figure:hover {
        transform: rotate(0) translate(0) scale(1);
        -webkit-transform: rotate(0) translate(0) scale(1);
        -moz-transform: rotate(0) translate(0) scale(1);
        -ms-transform: rotate(0) translate(0) scale(1);
        -o-transform: rotate(0) translate(0) scale(1);
    }
}

@media (max-width: 991px) {
    .slider {
        width: 100%;
        margin: 50px auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .slider h2 {
        margin: 0;
    }
    .figures {
        max-width: 100%;
        margin: 1rem 0 0 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box_shadow {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        max-height: fit-content;
    }
    figure .box_shadow img {
        max-width: 100%;
        min-width: 100%;
        max-height: 40vh;
        min-height: 40vh;
        border-radius: 2rem 2rem 0 0;
        -webkit-border-radius: 2rem 2rem 0 0;
        -moz-border-radius: 2rem 2rem 0 0;
        -ms-border-radius: 2rem 2rem 0 0;
        -o-border-radius: 2rem 2rem 0 0;
        object-fit: cover;
    }
    .figures .box_shadow figcaption {
        background-color: rgba(255, 255, 255, 0.596);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 0 0 2rem 2rem;
        -webkit-border-radius: 0 0 2rem 2rem;
        -moz-border-radius: 0 0 2rem 2rem;
        -ms-border-radius: 0 0 2rem 2rem;
        -o-border-radius: 0 0 2rem 2rem;
        overflow: visible;
        padding-top: 2%;
    }
    .figures .box_shadow figcaption p {
        margin-top: 0;
        width: auto;
        height: auto;
    }
    .prev, .next, .play__pause {
        cursor: pointer;
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        font-weight: bold;
        font-size: 5rem;
        transition: 0.6s ease;
        -webkit-transition: 0.6s ease;
        -moz-transition: 0.6s ease;
        -ms-transition: 0.6s ease;
        -o-transition: 0.6s ease;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: rgba(61, 61, 61, 0.438);
    }
    .play__pause {
        opacity: 0;
        width: 7rem;
        height: 7rem;
        font-size: 3rem;
        position: relative;
    }
    .button_box {
        width: 100%;
    }
    .dot_slider_box {
        width: 100%;
    }
    .dot {
        cursor: pointer;
        width: 1.8rem;
        height: 1.8rem;
        max-width: auto;
        background-color: transparent;
        border: 4px solid whitesmoke;
    }
    .grid_hotels {
        grid-template-columns: 50% 50%;
        row-gap: .1%;
    }
    .anc_int_places_wrap {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }
    .hover_atraction_anc {
        display: none !important;
    }
    .anc_intersting_places {
        grid-template-columns: 49% 49%;
        min-height: fit-content;
    }
    .anc_intersting_places img {
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }
    .anc_intersting_places figure figcaption {
        max-height: 40vh;
        border-radius: 0 0 2rem 2rem;
        -webkit-border-radius: 0 0 2rem 2rem;
        -moz-border-radius: 0 0 2rem 2rem;
        -ms-border-radius: 0 0 2rem 2rem;
        -o-border-radius: 0 0 2rem 2rem;
    }
    .hover_atraction_miami {
        display: none;
    }
    .miami_attractions {
        height: fit-content;
        display: block;
        width: 100%;
        margin-bottom: 5%;
        overflow: hidden;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }
    .miami_attractions figure {
        overflow: hidden;
        margin: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        position: relative;
        display: block;
        border: none;
    }
    .miami_atrr_smth_selected>figure:not(.miami_selected) {
        border: none;
        min-width: 100%;
        max-width: 100%;
    }
    .miami_attractions figure:not(.miami_selected):hover {
        box-shadow: 0;
        z-index: 100;
    }
    .miami_attractions figure:not(.miami_selected):hover img {
        transition: 0;
        transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0);
        -moz-transform: scale(1) translateX(0);
        -ms-transform: scale(1) translateX(0);
        -o-transform: scale(1) translateX(0);
        -webkit-transition: 0;
        -moz-transition: 0;
        -ms-transition: 0;
        -o-transition: 0;
    }
    .miami_attractions .miami_selected img {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .miami_attractions figure img {
        border-radius: 2rem 2rem 0 0;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        min-height: 40vh;
        max-height: 40vh;
        min-width: 100%;
        max-width: 100%;
        -webkit-border-radius: 2rem 2rem 0 0;
        -moz-border-radius: 2rem 2rem 0 0;
        -ms-border-radius: 2rem 2rem 0 0;
        -o-border-radius: 2rem 2rem 0 0;
    }
    .travel_calculator_wrapper h3 {
        font-size: 2.5rem;
    }
    .hotel_days_selector__and_final_summ {
        display: grid;
        grid-template-columns: 100%;
    }
    .hotel_days_selector__and_final_summ p {
        margin: 0;
        font-size: 2rem;
        line-height: 1.5rem;
    }
    .hotel_filter__final_sum__send-btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: 60vh;
    }
    .final_summ {
        align-items: center;
        background-color: rgba(100, 148, 237, 0.5);
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        min-width: 50vw;
        min-height: 30vh !important;
    }
    .currency_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        min-height: 60% !important;
        min-width: 60% !important;
        border: 2px solid gray;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding-left: 10px;
        font-size: 2rem;
    }
    .wave-btn {
        width: 28rem;
        height: 6rem;
        border-radius: 0 0 1rem 1rem;
        -webkit-border-radius: 0 0 1rem 1rem;
        -moz-border-radius: 0 0 1rem 1rem;
        -ms-border-radius: 0 0 1rem 1rem;
        -o-border-radius: 0 0 1rem 1rem;
    }
    .wave-btn:hover {
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        box-shadow: 0 0 6rem rgba(73, 115, 255, 0.6);
    }
    .wave-btn__text {
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        letter-spacing: .5rem;
        position: relative;
        z-index: 1;
        font-weight: bold;
    }
    .wave-btn__waves {
        position: absolute;
        width: 28rem;
        height: 28rem;
        background-color: rgb(0, 183, 255);
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        transition: all 0.8s ease 0s;
        -webkit-transition: all 0.8s ease 0s;
        -moz-transition: all 0.8s ease 0s;
        -ms-transition: all 0.8s ease 0s;
        -o-transition: all 0.8s ease 0s;
    }
    footer .wrapper {
        display: grid;
        grid-template-columns: 100%;
    }
    .info_source {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: .2vh solid rgba(255, 255, 255, 0.541);
    }
    #footer_year {
        grid-column: 1/2;
    }
}

@media (max-width: 767px) {
    .black_bg_nav {
        position: fixed;
        z-index: 100;
        min-width: 100%;
        height: 5vh;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
    }
    .phone_logo_and_menu_wrap {
        display: flex;
    }
    .logo_pc {
        display: none;
    }
    nav {
        height: fit-content;
        margin-top: 5vh;
        display: none;
    }
    .nav_phone_active {
        display: block;
        animation: menu_from_top_to_bottom .2s linear;
        -webkit-animation: menu_from_top_to_bottom .2s linear;
    }
    @keyframes menu_from_top_to_bottom {
        from {
            display: block;
            top: -95%;
            z-index: 1;
        }
        to {
            top: 0;
            z-index: 100;
        }
    }
    .nav_wrap {
        display: grid;
        grid-template-columns: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 95vh;
    }
    .city_wrap {
        position: relative;
        padding-bottom: 12rem;
    }
    .city_wrap>p {
        font-size: 4rem;
        margin-bottom: 2rem;
        display: inline-block;
    }
    .nav_wrap p:hover {
        transition: .5s;
        font-size: 4rem;
        cursor: pointer;
    }
    .nav_citys_hover_block {
        position: relative;
        width: 100%;
        bottom: 0;
        display: block;
    }
    h1 {
        font-size: 7rem;
    }
    h2 {
        font-size: 4rem;
    }
    html {
        font-size: 50%;
    }
    .description p {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
    .anc_intersting_places {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        box-sizing: content-box;
        perspective: 0px;
        padding-bottom: 30%;
        margin: 0 auto;
    }
    .anc_intersting_places figure {
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: 3rem;
        margin-bottom: 3rem;
        pointer-events: none;
        display: block;
        z-index: 100;
        max-height: none;
    }
    .anc_intersting_places figure img {
        box-shadow: none;
    }
    .anc_intersting_places figure figcaption {
        position: relative;
        opacity: 1;
        overflow-y: visible;
        max-height: none;
    }
    .grid_hotels {
        grid-template-columns: 100%;
    }
    .content__Miami {
        background-image: url(../pictures/MIAMI/MIAMI_BG/1.jpg) !important;
    }
    .neon_started_h1, .neon_started_h2, .content__Miami h1, .content__Miami h2, .content__Miami p {
        text-shadow: none !important;
        animation: none !important;
        -webkit-animation: none !important;
        color: #ff00de !important;
    }

    .content__Miami p{
        color: black;
    }
    .miami_attractions figure {
        border-radius: 2rem 2rem 0 0;
        -webkit-border-radius: 2rem 2rem 0 0;
        -moz-border-radius: 2rem 2rem 0 0;
        -ms-border-radius: 2rem 2rem 0 0;
        -o-border-radius: 2rem 2rem 0 0;
    }
}

@media (max-width: 321px) {
    h2 {
        font-size: 3.5rem;
    }
}